@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Sidebar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
